.product-datail {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}

.bitcoin-img-container {
  width: 100%;
  min-width: 320px;
  height: 50vh;
  background-image: url(../assets/img/bitcoinbaby-2x.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.plans-container-slider {
  justify-content: center;
}